@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* base styles */
body {
  background: #ebf0fa;
  @apply text-gray-500 m-8;
}
h1,
h2 {
  @apply font-bold text-primary text-lg;
}
main {
  @apply max-w-6xl my-12 mx-auto px-20;
}

@media (min-width: 667px) {
  main {
    max-width: 100%; 
    margin: 0; 
    padding: 1rem; 
  }

  .navbar-container {
    @apply pb-4 mb-10 mt-10 mx-auto border-b-2 border-gray-300 flex max-w-screen-lg justify-between;
  }

  .search-container {
    @apply flex items-center gap-4;
  }
}
main,
footer > h2 {
  @apply mb-4 pb-2 text-base;
}
p > a {
  @apply text-primary underline;
}

/* ? nav styles START */
.navbar-container {
  @apply pb-4 mb-10 mt-10 mx-auto border-b-2 border-gray-300 flex max-w-screen-lg justify-between;
}
.search-container {
  @apply flex items-center gap-4
}

/* ? search input START ? */
.searchInput form {
  @apply bg-opacity-20 rounded-md block mx-auto w-auto border 
}
.searchInput input {
  @apply block p-2 rounded-sm w-48 h-10
}

/* ? Product ? */
.product-image {
  object-fit: cover;
  width: 100%;
  height: 13em;
  object-position: center;
}

/* ? Product ? */
.product-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}


/* ? Footer ? */
/* .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #acaaaa;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 100;
} */

footer {
  @apply pb-2
  border-t-2 border-gray-200
  flex items-center gap-4 
  my-10 mx-auto 
  max-w-5xl;
}

.teste-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
  border: 1px solid black;
  width: 80%;
}

.div2 {
  grid-area: 1 / 2 / 6 / 2;
  /* border-radius: 2em; */
  height: 30em;
  width: 25em;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.product-image-main {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.div3 {
  grid-area: 1 / 4 / 6 / 6;
}

.justify-text {
  text-align: justify;
  line-height: 1.5;
  hyphens: auto;
  text-justify: inter-word;
  text-align-last: left;
}


